{% extends '__base__.html' %}
{% block content %}
<script src="/static/js/clipboard.min.js"></script>

<div class="col-md-5">		
	<form  style="display:none" action="#" method="post" enctype="multipart/form-data">
　　　　<input type="file" name="upfile" value="">
	</form>
	<p>上传识别图片:支持识别的文件大小,不得大于 8MB;</p>
	<img src="/static/img_name.jpg"  alt="支持的图片格式：jpg、gif、png、bmp。" width='480px' height='630px'>
</div>

<div class="col-md-7">	
	<div class="col-xs-12">
		<p>识别结果：</p>			
		<textarea rows="29" cols="100">{{ res|safe }}</textarea>
		<p class="btn-bar">
			<a class="btn btn-lg btn-success" data-clipboard-text="{{ res|safe }}" href=""><i class="fa fa-copy"></i> 复制内容 </a>
			<a class="btn btn-lg btn-danger" href="/tostr/"> 再识别一张图片 </a>
		</p>
	</div>
</div>

<script>
/*网页代码拷贝copy粘贴 模块 */
    var btns = document.querySelectorAll('a');
    var clipboard = new ClipboardJS(btns);
    clipboard.on('success', function(e) {
        //console.log(e);
        //alert(JSON.stringify(e.text));
        alert('复制内容成功 ！');
  
    });
    clipboard.on('error', function(e) {
        alert('复制内容失败！');
    });
</script>
<script>
/* 选择文件自动提交 模块 */
$('.import').click(function(){
　　$(this).prev('form').find('[name="upfile"]').trigger('click');
});
/*当表单文件有变化时执行提交动作*/
$('[name="upfile"]').change(function(){
   if($(this).val()){
　　　　$('.import').addClass('disabled' );
　　　　$(this).parent().submit();
　　}
});
</script>

{% endblock %}